In [3]:
data = pd.read_csv('./Toyota_11_210712.csv', encoding='cp949')

In [46]:
data.iloc[0:10]

,ad_id,grp,sp,Aud,Reach1+,Reach3+,Reach5+,Reach7+,Reach9+,Reach12+,Reach15+,year,Month,new_reg,after_1m,after_2m,after_3m,after_4m,after_5m,after_6m
0,2011월Camry여20대,11,295,189235,9.0,0.5,0.0,0.0,0.0,0.0,0.0,2020.0,11월,1.0,1.0,2.0,2.0,0.0,2.0,0.0
1,2011월Camry여30대,7,295,134605,5.0,0.5,0.0,0.0,0.0,0.0,0.0,2020.0,11월,11.0,7.0,12.0,8.0,32.0,6.0,0.0
2,2011월Camry여40대,25,295,527070,16.7,2.9,0.0,0.0,0.0,0.0,0.0,2020.0,11월,32.0,14.0,26.0,28.0,48.0,26.0,0.0
3,2011월Camry여50대,13,295,265787,10.1,0.6,0.0,0.0,0.0,0.0,0.0,2020.0,11월,35.0,10.0,28.0,30.0,40.0,16.0,0.0
4,2011월Camry여60대이상,16,295,405692,8.3,1.2,0.4,0.4,0.4,0.1,0.1,2020.0,11월,11.0,5.0,30.0,14.0,38.0,14.0,0.0
5,2011월Camry남20대,6,295,106664,3.4,0.8,0.0,0.0,0.0,0.0,0.0,2020.0,11월,4.0,4.0,12.0,4.0,14.0,6.0,0.0
6,2011월Camry남30대,7,295,153982,5.5,0.4,0.0,0.0,0.0,0.0,0.0,2020.0,11월,32.0,10.0,28.0,34.0,40.0,18.0,0.0
7,2011월Camry남40대,13,295,292772,9.8,1.2,0.0,0.0,0.0,0.0,0.0,2020.0,11월,46.0,10.0,29.0,24.0,36.0,16.0,19.0
8,2011월Camry남50대,16,295,326015,11.3,1.7,0.0,0.0,0.0,0.0,0.0,2020.0,11월,62.0,21.0,64.0,62.0,84.0,42.0,0.0
9,2011월Camry남60대이상,11,295,249478,7.6,0.8,0.0,0.0,0.0,0.0,0.0,2020.0,11월,36.0,21.0,44.0,40.0,68.0,20.0,0.0

In [47]:
toyota_11 = pd.read_csv('./202011_data_pred.csv')

In [48]:
toyota_11.columns

Index(['grp', 'sp', 'Aud', 'Reach1+', 'Reach3+', 'Reach5+', 'Reach7+',
       'Reach9+', 'Reach12+', 'Reach15+', 'year', 'new_reg', 'after_1m',
       'after_2m', 'after_3m', 'after_4m', 'after_5m', 'after_6m', 'Month_01월',
       'Month_02월', 'Month_03월', 'Month_04월', 'Month_05월', 'Month_06월',
       'Month_07월', 'Month_08월', 'Month_09월', 'Month_10월', 'Month_11월',
       'Month_12월', 'ad_id_남20대', 'ad_id_남30대', 'ad_id_남40대', 'ad_id_남50대',
       'ad_id_남60대', 'ad_id_여20대', 'ad_id_여30대', 'ad_id_여40대', 'ad_id_여50대',
       'ad_id_여60대', 'log_0', 'log_1', 'log_2', 'log_3', 'log_4', 'log_5',
       'log_6', 'ZSCORE', 'pred', 'pred_1m', 'pred_2m', 'pred_3m', 'pred_4m',
       'pred_5m', 'pred_6m'],
      dtype='object')

In [61]:
toyota_11.iloc[0:10][['pred', 'pred_1m', 'pred_2m', 'pred_3m', 'pred_4m',
       'pred_5m', 'pred_6m']].sum()

pred       161.273762
pred_1m     39.914628
pred_2m     93.791473
pred_3m     56.662847
pred_4m    162.345204
pred_5m    105.085522
pred_6m     81.505447
dtype: float64

In [59]:
total = pd.concat([data.iloc[0:10], toyota_11.iloc[0:10][['pred', 'pred_1m', 'pred_2m', 'pred_3m', 'pred_4m',
       'pred_5m', 'pred_6m']]],1)

In [60]:
total[['ad_id', 'pred', 'pred_1m', 'pred_2m', 'pred_3m', 'pred_4m', 'pred_5m', 'pred_6m']]

,ad_id,pred,pred_1m,pred_2m,pred_3m,pred_4m,pred_5m,pred_6m
0,2011월Camry여20대,6.590791,2.292947,3.101318,3.659956,3.247584,2.165830,2.390446
1,2011월Camry여30대,15.346974,6.543315,7.237944,9.649042,24.205547,12.941828,10.355476
2,2011월Camry여40대,20.440130,6.518780,3.936162,4.569455,10.598990,10.667552,6.391864
3,2011월Camry여50대,14.780273,1.769077,13.183686,2.246408,7.809594,4.324816,5.808548
4,2011월Camry여60대이상,9.741411,2.422591,9.250885,2.012557,5.662152,2.259493,5.185566
5,2011월Camry남20대,13.331899,1.883606,2.569492,3.156735,3.271311,4.142086,3.179570
6,2011월Camry남30대,33.121160,5.210926,11.699549,6.640006,44.022797,11.958962,16.728392
7,2011월Camry남40대,23.555416,4.446297,13.941195,9.442442,25.849535,28.416624,17.751520
8,2011월Camry남50대,9.562140,5.060265,18.394058,11.020707,24.026634,16.069578,10.181010
9,2011월Camry남60대이상,14.803569,3.766826,10.477184,4.265539,13.651060,12.138754,3.533053

In [40]:
data2 = pd.read_csv('./202011_data_pred.csv')

In [41]:
data2.columns

Index(['grp', 'sp', 'Aud', 'Reach1+', 'Reach3+', 'Reach5+', 'Reach7+',
       'Reach9+', 'Reach12+', 'Reach15+', 'year', 'new_reg', 'after_1m',
       'after_2m', 'after_3m', 'after_4m', 'after_5m', 'after_6m', 'Month_01월',
       'Month_02월', 'Month_03월', 'Month_04월', 'Month_05월', 'Month_06월',
       'Month_07월', 'Month_08월', 'Month_09월', 'Month_10월', 'Month_11월',
       'Month_12월', 'ad_id_남20대', 'ad_id_남30대', 'ad_id_남40대', 'ad_id_남50대',
       'ad_id_남60대', 'ad_id_여20대', 'ad_id_여30대', 'ad_id_여40대', 'ad_id_여50대',
       'ad_id_여60대', 'log_0', 'log_1', 'log_2', 'log_3', 'log_4', 'log_5',
       'log_6', 'ZSCORE', 'pred', 'pred_1m', 'pred_2m', 'pred_3m', 'pred_4m',
       'pred_5m', 'pred_6m'],
      dtype='object')

In [42]:
data2.iloc[0:9][['pred', 'pred_1m', 'pred_2m', 'pred_3m', 'pred_4m',
       'pred_5m', 'pred_6m']].sum()

pred       146.470193
pred_1m     36.147802
pred_2m     83.314289
pred_3m     52.397308
pred_4m    148.694144
pred_5m     92.946768
pred_6m     77.972393
dtype: float64

In [ ]:
new_reg                                                 270.0
after_1m                                                103.0
after_2m                                                275.0
after_3m                                                246.0
after_4m                                                400.0
after_5m                                                166.0

In [16]:
data2 = pd.read_csv('./202011_data.csv')

In [18]:
data2.columns

Index(['grp', 'sp', 'Aud', 'Reach1+', 'Reach3+', 'Reach5+', 'Reach7+',
       'Reach9+', 'Reach12+', 'Reach15+', 'year', 'new_reg', 'after_1m',
       'after_2m', 'after_3m', 'after_4m', 'after_5m', 'after_6m', 'Month_01월',
       'Month_02월', 'Month_03월', 'Month_04월', 'Month_05월', 'Month_06월',
       'Month_07월', 'Month_08월', 'Month_09월', 'Month_10월', 'Month_11월',
       'Month_12월', 'ad_id_남20대', 'ad_id_남30대', 'ad_id_남40대', 'ad_id_남50대',
       'ad_id_남60대', 'ad_id_여20대', 'ad_id_여30대', 'ad_id_여40대', 'ad_id_여50대',
       'ad_id_여60대', 'log_0', 'log_1', 'log_2', 'log_3', 'log_4', 'log_5',
       'log_6', 'ZSCORE'],
      dtype='object')

In [19]:
data2.drop(['Reach12+', 'Reach15+', 'year', 'new_reg', 'after_1m',
       'after_2m', 'after_3m', 'after_4m', 'after_5m', 'after_6m','log_0', 'log_1', 'log_2', 'log_3', 'log_4', 'log_5',
       'log_6',], 1)

,grp,sp,Aud,Reach1+,Reach3+,Reach5+,Reach7+,Reach9+,Month_01월,Month_02월,...,ad_id_남30대,ad_id_남40대,ad_id_남50대,ad_id_남60대,ad_id_여20대,ad_id_여30대,ad_id_여40대,ad_id_여50대,ad_id_여60대,ZSCORE
0,11,295,189235,9.0,0.5,0.0,0.0,0.0,0,0,...,0,0,0,0,1,0,0,0,0,-0.817344
1,7,295,134605,5.0,0.5,0.0,0.0,0.0,0,0,...,0,0,0,0,0,1,0,0,0,-0.864480
2,25,295,527070,16.7,2.9,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0,1,0,0,-0.652367
3,13,295,265787,10.1,0.6,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0,0,1,0,-0.793776
4,16,295,405692,8.3,1.2,0.4,0.4,0.4,0,0,...,0,0,0,0,0,0,0,0,1,-0.758424
5,6,295,106664,3.4,0.8,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0,0,0,0,-0.876264
6,7,295,153982,5.5,0.4,0.0,0.0,0.0,0,0,...,1,0,0,0,0,0,0,0,0,-0.864480
7,13,295,292772,9.8,1.2,0.0,0.0,0.0,0,0,...,0,1,0,0,0,0,0,0,0,-0.793776
8,16,295,326015,11.3,1.7,0.0,0.0,0.0,0,0,...,0,0,1,0,0,0,0,0,0,-0.758424
9,11,295,249478,7.6,0.8,0.0,0.0,0.0,0,0,...,0,0,0,1,0,0,0,0,0,-0.817344
10,13,613,218092,5.9,1.6,0.9,0.0,0.0,0,0,...,0,0,0,0,1,0,0,0,0,-0.793776
11,41,613,752505,21.3,4.6,2.0,0.7,0.0,0,0,...,0,0,0,0,0,1,0,0,0,-0.463823
12,46,613,970040,28.0,4.2,0.9,0.0,0.0,0,0,...,0,0,0,0,0,0,1,0,0,-0.404903
13,39,613,812829,24.0,4.4,0.6,0.4,0.2,0,0,...,0,0,0,0,0,0,0,1,0,-0.487391
14,35,613,899287,17.9,2.6,1.3,0.9,0.7,0,0,...,0,0,0,0,0,0,0,0,1,-0.534527
15,7,613,136919,5.9,0.3,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0,0,0,0,-0.864480
16,21,613,403756,12.9,2.2,0.0,0.0,0.0,0,0,...,1,0,0,0,0,0,0,0,0,-0.699504
17,43,613,912268,25.0,4.9,0.8,0.3,0.3,0,0,...,0,1,0,0,0,0,0,0,0,-0.440255
18,36,613,742112,18.2,4.2,1.4,0.4,0.4,0,0,...,0,0,1,0,0,0,0,0,0,-0.522743
19,35,613,774492,21.2,3.4,0.7,0.2,0.0,0,0,...,0,0,0,1,0,0,0,0,0,-0.534527
20,2,16,45570,1.6,0.1,0.0,0.0,0.0,0,0,...,0,0,1,0,0,0,0,0,0,-0.923400
21,3,16,68948,1.8,0.3,0.0,0.0,0.0,0,0,...,0,0,0,1,0,0,0,0,0,-0.911616